/* Your custom styles */

body { 
  background-color: black;
  background: url('/img/chalk.jpg') no-repeat center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  } 

/*.page-link {
  color: red;
  text-decoration: underline;
}

.page-link:hover {
  color: black;
  font-weight: bold;
}*/

.badge a {
  color: white;
  font-weight: normal;
}