<header>

  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark elegant-color-dark">

      <!-- container -->
      <div class="container">

      <!-- Navbar brand -->
      <a class="navbar-brand" href="/">Rick Companje</a>

      <!-- Collapse button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <!-- Links -->
          <ul class="navbar-nav mr-auto">

              <li class="nav-item">
                  <a class="nav-link" href="/sitemap">Technical Notes</a>
              </li>

          </ul>
          <!-- Links -->

          <!-- Search form -->
          <form id="frmSearch" class="form-inline">
              <input id="txtSearch" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          </form>
      </div>
      <!-- Collapsible content -->

  </div> <!--container-->

</nav>
<!--/.Navbar-->

</header>
