<!--Main Navigation-->
<header>

    <!-- Navbar -->
   <nav class="navbar fixed-top navbar-expand-lg navbar-dark elegant-color-dark">

        <div class="container">

            <!-- Brand -->
            <a class="navbar-brand waves-effect" href="/">
                <strong>Rick Companje</strong>
            </a>

            <!-- Collapse -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <!-- Left -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link waves-effect" href="/projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect" href="/coding">Coding</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect" href="/notes">Notes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect" href="/contact">Contact</a>
                    </li>
                </ul>

                <!-- Right -->
                <ul class="navbar-nav nav-flex-icons">
                     <li class="nav-item">
                        <a href="https://www.instagram.com/rickcompanje" class="nav-link waves-effect">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.facebook.com/rcompanje" class="nav-link waves-effect">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://twitter.com/companje" class="nav-link waves-effect">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://github.com/companje" class="nav-link waves-effect">
                            <i class="fa fa-github"></i>
                        </a>
                    </li>

                </ul>

            </div>

        </div>
    </nav>
    <!-- Navbar -->

</header>
<!--Main Navigation-->