<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body id="body">

    {% include header.html %}

    <main class="page-content pt-4 mt-5" aria-label="Content">

      <!-- <div class="wrapper"> -->
      <div class="container">

         <div class="row">
            <div class="col-12">
              
              <div class="card">

                <div class="card-body">

                  <!--Title-->
                  <h1 class="card-title">{{ page.title }}</h1>

                  <!-- tags: {{ page.tags | join: ',' }} -->
                  |
                  {% for tag in page.tags %}
                     <a href="/{{ tag }}">{{tag}}</a> |
                  {% endfor %}

                  <!--Text-->
                  <p class="card-text">{{ content | replace: '<h1', '<h2' | replace: '</h1>', '</h2>' }}</p>
                  <!-- <a href="#" class="btn btn-indigo">Button</a> -->


                </div>

              </div>

            </div>
          </div>
      </div>

    </main>

    {% include footer.html %}

  </body>

</html>
