---
layout: default
---

<div class="home">

  {% assign prefix = page.prefix | sample: 2 %}
  {{ prefix[0] }}

  {{ content }}

  <!-- <div class="wrapper"> -->
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}
    
    {% if page_paths %}
      <!-- <nav class="site-nav"> -->

        <!-- <div class="trigger"> -->
          {% for path in page_paths %}
            {% assign my_page = site.pages | where: "path", path | first%}
            {% if my_page.title %}

            {% assign my_array = "red, green, blue, plums" | split: ", " %}


            <span class="badge red"><a href="{{ my_page.url | relative_url }}">{{ my_page.title }}</a></span>
            {% endif %}
          {% endfor %}
        <!-- </div> -->
      <!-- </nav> -->
    {% endif %}
  <!-- </div> -->

</div>

<!-- class="page-link"  -->